.verifyEmail {
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 0px 4px hsl(210, 12%, 75%);
  text-align: center;
  padding: 40px 20px;
  background-color: hsl(210, 10%, 98%);
}
.sp {
  display: block;
}an {
  display: block;
}
.verifyEmail h1{
  font-weight: 300;
  margin-top: 0;
}

.verifyEmail > p{
  line-height: 25px;
}

.verifyEmail > span{
  color: gray;
}

.verifyEmail > button {
  margin-top: 35px;
}
.center {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.butn{
  height: 30px;
  width: 80px;
    font-size: 16px;
    padding: 0 5px;
    background-color:rgb(6, 81, 232);
    color: white;
    border: none;
    margin-bottom: 5px;
}
.butn:hover{
  background-color: rgb(71, 107, 186);
}